.logo{
    font-family: 'Lato', sans-serif;
    font-size: 4em;
}
.articles{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 40px;
}
.articles:hover{
    text-decoration: none;
    background-color: #bdc3c7;
    
}
.article-lien{
    color: blanchedalmond;
}
.btn_delete{
    background-color: gray;
    color: #ecf0f1;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 100%;

}

.article-element{
    display: inline-block;
    width: 140%;
}
.article-delete{
    display: inline-block;
    width: 30%;
    
}
.conteneur{
    margin-top: 3%;
    display: block;
    padding-top: 2%;
    padding-bottom: 7%;
}
.element{
    display: inline-block;
    width: 70%;
    border-bottom: solid #34495e 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_bar{
background-color: #23272a;
}
.navbar-brand{
    color:#ffffff;
    font-weight: bold;
}
.navbar-brand:hover{
    color:white;
    background-color: black;
    font-weight: bold;
}

.nav-link{
    color:#d6d6d6;
}
.nav-link:hover{
    color:white;
    background-color: black;
    
}

.formulaire{
    background-color: #ecf0f1;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.3);
}

.center {
    justify-content: center;
    text-align: center;
  }

.title_form {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
}

.title_home {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 50px;
    color: beige;
}

.btn_home {
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color: #2c2f33;
}
main{
    text-align: center;

}
header{
    text-align: center;
    color: #ecf0f1;
    font-family: 'Bangers', cursive;
}

.row_rs{
    color: burlywood;
}