{% extends "base.html" %}

{% block header %}

<nav class="navbar navbar-expand-lg fixed-top nav_bar">
      
    <a class="navbar-brand" href="#">Bonjour {{ current_user.login }}</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('feed') }}">Abonnement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ajout') }}">Ajouter un nouvel abonnement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Deconnexion</a>
        </li>
      </ul>
    </div>
  
  </nav>   

{% endblock %}