<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_feed.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/index.jpg') }}">
    </head>
    <body>
        <header>
           {% block header %}{% endblock %}
        </header>
        <div class="pure-g ">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3 center title_home container">
                <p></p>
            </div>
            <div class="pure-u-1-3"></div>
        </div>
        <main>
            {% block main %}Valeur par default{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>