{% extends "base_connect.html" %}

{% block main %}
    <div class="container conteneur">
        {% for (fluxParse, fluxOrigin) in zip %}
            <div class="row">
                <div class="col-12 col-md-10">
                    <a href="{{ url_for('affich', url=fluxOrigin.url) }}" class="article-lien">
                        <article class="articles">
                            <div class="container">
                                <div class="list-group">
                                    <div class="col-sm">
                                        <h1>{{fluxParse.feed.title}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>{{fluxParse.feed.description}}</h3>
                                    </div> 
                                </div>
                            </div>  
                        </article>
                    </a>
                </div>
                <div class="col-12 col-md-1">
                    <a href="{{ url_for('suppFlux', userID=fluxOrigin.userID, url=fluxOrigin.url) }}"  class="btn_delete">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}