{% extends "base.html" %}

        {% block main %}
            <div class="container formulaire">
            <h1 id="center title_home">Bienvenue</h1>
                <div class="row button">
                    <div class="col-sm">
                    <p>
                        <a href="{{ url_for('.inscription')}}" class="btn_home pure-button pure-button-primary">Sign In</a>
                    </p>
                    </div>
                </div>
                <div class="row button">
                    <div class="col-sm">
                    <p>
                        <a href="{{ url_for('.login')}}" class="btn_home pure-button pure-button-primary">Log In</a> 
                    </p>
                    </div>
                </div>
            </div>
        {% endblock %}