{% extends "base_connect.html" %}

{% block main %}
    <div class="container conteneur">
        <div class="row_rs">
            <div class="col-sm">
                <H1>{{ fluxparse.feed.title }}</H1>
            </div>
        </div>
        <div class="row_rs">
                <div class="col-sm">
                    <H3>{{ fluxparse.feed.description }}</H3>
                </div>
        </div>
    </div>
    <div class="container">
        {% for item in element %}
        <a href= "{{ item.link }}" class="article-lien">
            <div class="articles">
                <div class="row">
                    <div class="col-8">
                        <h5>{{ item.title }}</h5>
                    </div>
                    <div class="col-4">
                        <p>{{ item.published }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <p>{{ item.description}}</p>
                    </div>
                </div>
            </div>  
        </a>      
        {% endfor %}  
    </div>
    
{% endblock %}